<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQhBVLxAw06BaxE71Mfp-OerisSCGctu0</string>
	<key>GCM_SENDER_ID</key>
	<string>790450380898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geol.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>geolocation-533df</string>
	<key>STORAGE_BUCKET</key>
	<string>geolocation-533df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790450380898:ios:45266b3f0b2096c8dd313b</string>
</dict>
</plist>